.grid-cell {
  height: 1em;
  width: 1em;
  padding: 0.5em;

  cursor: pointer;

  &--mine {
    color: red;
  }

  &--revealed {
    background-color: whitesmoke;
  }

  &--hidden {
    background-color: royalblue;
  }
}
