.grid-cell {
  margin: 4px;
  height: 1.5em;
  width: 1.5em;
  padding: 0.8em;

  cursor: pointer;
  font-family: "Press Start 2P";

  display: flex;
  justify-content: center;
  align-items: center;

  &--mine {
    color: red;
  }

  &--revealed {
    background-color: whitesmoke;
  }

  &--hidden {
    background-color: royalblue;
  }

  &--flagged {
    background-color: orange;
  }

  span {
    margin: 4px 0 0 0;
  }
}
