div {
  height: calc(100vh - 2em);
  margin: 1em;

  background-color: hotpink;

  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    margin: 0;
    font-size: 4em;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;

    @media screen and (max-width: 960px) {
      font-size: 2em;
    }
  }
}
